p{
  color: blue;
  font-family: Dhurjati;
  font-size: 16px;

}
button{
  padding: 12px;


}
body{
background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F06%2Fcrushed-skate-shop-nike-sb-dunk-low-release-info-1.jpg?q=75&w=800&cbr=1&fit=max");

}
table{
  width: 100%;
  border-collapse: collapse;
  border-color: blue;
  background-color: crimson;
  border-style: solid;
}
th, td{
  border: 3px dotted black;
  font-family: cursive;
  text-align: center;
  border-color: blue;





}

